<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/authors"></ion-back-button>
		</ion-buttons>
		<ion-title>Detalles del Autor</ion-title>
		<ion-buttons slot="end">
			<ion-button [routerLink]="['/authors', author?.id, 'edit']">
				<ion-icon name="create"></ion-icon>
			</ion-button>
			<ion-button (click)="deleteAuthor()">
				<ion-icon name="trash"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="author" class="ion-padding">
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{ author.name }}</ion-card-title>
			<ion-card-subtitle>{{ author.books.length }} libros</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>
			<ion-list>
				<ion-item *ngFor="let book of author.books" [routerLink]="['/books', book.id]">
					<ion-label>
						<h2>{{ book.name }}</h2>
						<p>{{ book.publisher }}</p>
					</ion-label>
					<ion-note slot="end">
						{{ book.price | currency }}
					</ion-note>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>